.navbar {
  background-color: #FF3131 !important;
  margin-bottom: 15px;
}

.navbar-brand{
  color: white !important;
  padding-left: 5px;
}

.App{
  
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #FF4848;
  background-size: 100px 100px;
}


a{
  text-decoration: none
}